<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>big_drip_kicks_1</title>

</head>

<body>
    <ul class="navbar">
        <li><a href="">HOME</a></li>
        <li><a href="">DRIP</a></li>
        <li><a href="">KICKS</a></li>
        <li><a href="">ABOUT/CONTACT</a></li>
    </ul>
    <img src="/Users/mohammeddrame/Downloads/PHOTO-2022-07-07-17-40-00.jpg" />
    <!-- look over soccer model and display -->
    {% block content %}
    <!-- Soccer Match -->
    {% endblock %}
    <!-- NavBar Design at the botttom -->

</body>

</html>